:root{
    --background-color: #002D62;
    --section-color: #093c76;
    --secondary-color: #FF9F1C;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--background-color);
    color: var(--secondary-color);
    font-family: Tahoma, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav{
    position: fixed;
    width: 100vw;
    padding: 1rem 5rem;
    background-color: var(--section-color);
    display: flex;
    justify-content: space-between;
}
.nav-buttons{
    gap: 2rem;
}
nav a{
    color: var(--secondary-color);
    text-decoration: none;
}

section{
    width: 90%;
    max-width: 1000px;
    margin-top: 100px;
    background-color: var(--section-color);
    padding: 2rem;
}

hr{
    border-top: 2px var(--secondary-color) solid;
    width: 100%;
}

.flex{
    display: flex;
}
.col{
    flex-direction: column;
}
.profile_picture{
    width: 300px;
    height: 300px;
    border-radius: 15px;
}

.intro-container{
    gap: 40px;
}
#home .texts-div{
    gap: 10px;    /* remove inheritance gap */
    justify-content: center;
}   
.tech-stack-div{
    align-items: center;
}
.tech-stack-div .flex{
    margin-top: 10px;
    gap: 80px;
}
.tech-stack-div .col{
    gap: 15px;
}
.tech-div{
    display: flex;
    gap: 20px;
    align-items: center;
}
.tech-icon{
    width: 25px;
    height: 25px;
}
.tech-name{
    font-size: 20px;
}

#projects{

}

.project-div{
    margin: 20px;
    padding: 40px;
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    box-shadow: 5px 5px 10px black;
}
.project-div img{
    width: 80%;
    margin: 30px 50px;
}