:root{
    --background-color: #001329;
    --section-color: #052346;
    --secondary-color: #ffdaa7;
    --fb-bg: #1877F2;
    --gmail-bg: #D1462A;
    --linkedin-bg: #0077B5;
    --github-bg: #181717;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: var(--secondary-color);
}

body{
    background-color: var(--background-color);
    color: var(--secondary-color);
    font-family: Tahoma, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;
}

nav{
    position: fixed;
    width: 100vw;
    padding: 1rem 5rem;
    background-color: var(--section-color);
    display: flex;
    justify-content: space-between;
}
.nav-buttons{
    gap: 2rem;
}
nav a{
    color: var(--secondary-color);
    text-decoration: none;
}

section{
    width: 90%;
    max-width: 1000px;
    margin-top: 100px;
    background-color: var(--section-color);
    padding: 2rem;
    border-radius: 20px;
}

hr{
    border-top: 2px var(--secondary-color) solid;
    width: 100%;
}

.flex{
    display: flex;
}
.col{
    flex-direction: column;
}
.profile_picture{
    width: 300px;
    height: 300px;
    border-radius: 15px;
}

.intro-container{
    gap: 40px;
}
#about .texts-div{
    gap: 10px;    /* remove inheritance gap */
    justify-content: center;
    /* line-height: 1.5; */
}   
.tech-stack-div{
    align-items: center;
}
.tech-stack-div .flex{
    margin-top: 10px;
    gap: 80px;
}
.tech-stack-div .col{
    gap: 15px;
}
.tech-div{
    display: flex;
    gap: 20px;
    align-items: center;
}
.tech-icon{
    width: 25px;
    height: 25px;
}
.tech-name{
    font-size: 20px;
}

.project-div{
    margin: 20px;
    padding: 40px;
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    box-shadow: 5px 5px 10px black;
}
.project-title {
    display: flex;
    align-items: center;
    gap: 30px;
}
.project-div img{
    width: 80%;
    margin: 30px 50px;
}


.contact-row{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;    /* in case the screen goes too small, the contact-icons will be forming columns */
}
/* setting static dimensions and roundness (round circle) */
.contact-icon{
    width: 50px;
    height: 50px;
    border-radius: 100%;
}
.icon-circle {
    margin: 10px 10px;
    background-color: var(--secondary-color);
    border: 1px black solid;
    border-radius: 100%;
}
.fb{
    background: url(../images/facebook-icon-1.png) no-repeat center;
}
.gmail{
    background: url(../images/gmail-icon-1.png) no-repeat center;
}
.linkedin{
    background: url(../images/linkedin-logo-1.png) no-repeat center;
}
.github{
    background: url(../images/github-icon-1.png) no-repeat center;
}
/* change contact-icons' image to white variant and background color to respective signature colors */
.fb:hover{
    background: url(../images/facebook-icon-2.png) no-repeat center;
    background-color: var(--fb-bg);
}
.gmail:hover{
    background: url(../images/gmail-icon-2.png) no-repeat center;
    background-color: var(--gmail-bg);
}
.linkedin:hover{
    background: url(../images/linkedin-logo-2.png) no-repeat center;
    background-color: var(--linkedin-bg);
}
.github:hover{
    background: url(../images/github-icon-2.png) no-repeat center;
    background-color: var(--github-bg);
}